html {
  height: 100%;
	font-family: monospace;
	font-size:14px;
  line-height: 40px;
  word-spacing: -3px;
}

body {
  height: 100%;
}

input{
  border: 1px gray dotted;
  margin-left: 25px;
  font-family: monospace;
  font-size:14px;
  word-spacing: -3px;
  color: gray;
  padding: 5px;
}

input#save_data{
color: black;
font-family: arial;
letter-spacing: 5px;
text-transform: uppercase;
cursor: pointer;
margin-left: 0px;
border: 0px;
}

div{
margin-left: 50px;
}
